html,
body {
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  background: #ffffff;
  margin: 0;
}
p,
ul li,
ol li {
  margin: 0;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
label {
  margin: 0;
  padding: 0;
}
body a:hover {
  text-decoration: none;
}
/*--medile-section--*/
.w3_agile_banner_bottom_grid {
  padding: 2em 1em;
  box-shadow: 0px 0px 1px #999;
}
.browse-agile-filmifeeds {
  padding: 2em 0;
}
.browse-agile-filmifeeds.general-filmifeeds {
  padding: 0;
}
.filmifeed-agile-horror,
.general-agileits-filmifeed,
.wthree-comedy {
  padding: 3em 0;
}
/*--/tab--*/
.nav-tabs {
  border: none;
}
ul#myTab {
  border: none;
  margin-bottom: 1em;
}
ul#see_all{
  display: inline-block;
  position: absolute;
  bottom: 0px;
  margin-left: 10px;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ff8d1b;
  outline: 0;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  background: #f3f1f1;
  border: none;
  border-radius: 0;
  font-size: 16px;
  color: #333;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-tabs > li > a .fa {
  margin-right: 10px;
}
.nav-tabs > li.active > a {
  border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #ff8d1b;
  border: none;
  border-radius: 0;
  color: #fff !important;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #fff;
  background-color: #ff8d1b;
  border: none;
  border-radius: 0;
}
.nav-tabs > li > a i {
  font-size: 32px;
  margin-right: 20px;
  vertical-align: middle;
}
.tab-content p {
  line-height: 2.2em;
  font-size: 14px;
  color: #777;
}
.browse-agile-filmifeeds .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  outline: none;
}
/*--//tab--*/
.browse-grid:nth-child(6),
.browse-grid:nth-child(12) {
  margin-left: 0%;
}
.browse {
  padding: 1em 0 0 0;
}
.filmifeed-action-icon i.glyphicon.glyphicon-play-circle {
  position: absolute;
  top: 30%;
  left: 40%;
  color: #fff;
  font-size: 3em;
}

.filmifeed-action-icon i {
  font-size: 3em;
  color: #fff;
}
.filmifeed-movie-gride-agile:hover .filmifeed-action-icon {
  display: block;
  position: absolute;
  top: 37%;
  left: 41%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.filmifeed-movie-gride-agile {
  position: relative;
}
.filmifeed-action-icon {
  display: none;
}
/* imghvr-shutter-out-*
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  width: 100%;
  height: 267px;
  max-height: 267px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  /* background: #e1e1e1; */
  background-size: cover, auto;
  /* background-position: center; */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal #play {
  position: absolute;
  top: 33%;
  left: 40%;
  width: 77px;
  height: 77px;
  cursor: pointer;
  background: url(../images/play-button.png) no-repeat 0px 0px;
  background-size: auto, cover;
  z-index: 9;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: #000; */
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* imghvr-shutter-out-horiz
   ----------------------------- */
.imghvr-shutter-out-horiz:before {
  left: 50%;
  right: 50%;
  top: 0;
  bottom: 0;
}
.imghvr-shutter-out-horiz:hover:before {
  left: 0;
  right: 0;
}
.filmifeed-movie-text h6 a {
  font-size: 1.6em;
  color: #222;
}
.filmifeed-movie-text h6 span {
  font-size: 1.5em;
  color: #222;
}
.filmifeed-movie-text h6 span a i {
  color: #ff8d1b;
}
.filmifeed-movie-text {
  margin: 0.7em 0;
  text-align: left;
}
.chip {
    display: block;
    padding: 0 7px;
    font-size: 12px;
    border-radius: 30px;
    background-color: #f1f1f1;
    float: left;
    margin-right: 5px;
}
.chip a {
  cursor: pointer;
  padding: 0 5px;
  background-color: #fff;
}
.block-stars p {
    /* float: left; */
    font-size: 0.75em;
    color: #333;
    line-height: 42px;
    position: relative;
}
.block-stars {
  /* float: right; */
  display: inline-block;
  position:  relative;
  /* text-align: left !important; */
}
#lang {
    font-size: 13px;
    text-align: right;
}

ul.filmifeed-ratings li,
.filmifeed-ratings a {
  display: inline-block !important;
  list-style: none;
}
ul.filmifeed-ratings li i,
.filmifeed-ratings a i {
  color: #ff8d1b;
}
/*---browse-grid-----*/
.filmifeed-movie-gride-agile {
  text-align: center;
  box-shadow: 0px 0px 10px rgba(136, 131, 131, 0.34);
  margin-right: 0%;
  margin-bottom: 3%;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.filmifeed-movie-gride-agile:nth-child(6),
.filmifeed-movie-gride-agile:nth-child(12) {
  margin-left: 0%;
}
.browse {
  padding: 1em 0 0 0;
}
i.glyphicon.glyphicon-play-circle {
  position: absolute;
  top: 30%;
  left: 40%;
  color: #fff;
  font-size: 3em;
}
.filmifeed-movie-gride-agile img:hover {
  opacity: 0.5;
}
.ribben {
  position: absolute;
  top: 3%;
  left: 4%;
  padding: 20px 0 0 0;
  background: #ff8d1b;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-: 50%;
  -0-: 50%;
  -moz-: 50%;
}
.ribben p {
  font-size: 0.9em;
  color: #fff;
  line-height: 0;
}
.ribben:after {
  content: '';
  position: absolute;
  top: 86%;
  right: 18%;
  width: 0;
  height: 0;
  border-top: 8px solid #ff8d1b;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transform: rotate(85deg);
}
/*--//filmifeed-movies-grids--*/
/*--filmifeed-latest-movies-grids--*/
.w3_agile_banner_bottom_grid {
  padding: 2em 1em;
  box-shadow: 0px 0px 1px #999;
}
h4.latest-text {
  border-left: 3px solid #ff8d1b;
  font-size: 1.1em;
  color: #212121;
  text-transform: uppercase;
  /* margin-bottom: 1em; */
  padding: 0.3em 0.5em;
  margin-left: 0;
}
.review-slider {
  margin: 1.4em 0 1.4em 0;
}
.filmifeed-movie-gride-agile.slide-filmifeed {
  padding: 1em 1em;
}
.ribben.one {
  top: 7%;
  left: 11%;
}
.ribben.two {
  position: absolute;
  top: 3%;
  left: 4%;
}
.mid-2.agile_mid_2_home.two-single {
  padding: 0 1em;
}
.breadcrumb {
  background: #ffffff;
  box-shadow: 0px 0 2px #c1c1c1 !important;
  -o-box-shadow: 0px 0 2px #c1c1c1 !important;
  -moz-box-shadow: 0px 0 2px #c1c1c1 !important;
  -ms-box-shadow: 0px 0 2px #c1c1c1 !important;
}
ol.breadcrumb li a {
  color: #000000 !important;
  text-decoration: none;
}
/*--//filmifeed-latest-movies-grids--*/
/*--/blog-pagenat-wthree--*/
.blog-pagenat-wthree {
  text-align: center;
  margin: 0em 0 2em 0;
}
.blog-pagenat-wthree ul li {
  display: inline-block;
  list-style: none;
}
.blog-pagenat-wthree ul li a {
  display: block;
  background: #fff;
  padding: 8px 1.1em;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #222;
  font-weight: 400;
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  border: 1px solid #ddd;
  font-family: 'Roboto Condensed', sans-serif;
}
.blog-pagenat-wthree ul li a.frist,
.blog-pagenat-wthree ul li a.last {
  background: #000;
  color: #fff;
  border: 1px solid #29292a;
}
.blog-pagenat-wthree ul li a:hover {
  background: #29292a;
  color: #fff;
  border: 1px solid #29292a;
}
.agileits_filmifeedayouts_mid_1_home {
  padding: 15px;
}
#search-bar {
  padding-top: 5px;
}
.media-body h6 {
  padding: 6px 0;
}
.media-left a > img {
  border-radius: 50%;
}
.comment_rating {
  width: unset;
  float: left;
}

/*--//blog-pagenat-wthree--*/
/*-----start-responsive-design------*/
@media (max-width: 1280px) {
  .w3_latest_text {
    margin-left: 1em;
  }
  .filmifeed-movie-gride-agile img {
    width: 100%;
  }
}
@media (max-width: 1080px) {
  .filmifeed-movie-gride-agile1 {
    width: 100% !important;
  }
  .movies_nav > #contain {
    width: 600px;
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  .filmifeed-movie-gride-agile {
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
    margin-right: 0%;
    margin-bottom: 3%;
    position: relative;
    padding-left: 0;
    float: left;
    width: 100%;
  }
  .ribben.two {
    position: absolute;
    top: 3%;
    left: 12%;
  }
  .movies_nav > #contain {
    width: 750px;
    padding-left: 0;
  }
}
@media (max-width: 640px) {
  ul#myTab {
    margin: 1em 0;
  }
  .movies_nav > #contain {
    width: 150px;
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  ul#myTab {
    margin: 0 0 2em;
  }
  .filmifeed-agile-horror,
  .general-agileits-filmifeed,
  .single-page-agile-main,
  .wthree-comedy {
    padding: 1.5em 0;
  }
  .filmifeed-movie-gride-agile {
    margin-right: 3%;
    margin-bottom: 4%;
    float: left;
    width: 100%;
  }
  .blog-pagenat-wthree ul li a {
    padding: 8px 0.9em;
    font-size: 0.9em;
  }
}
@media (max-width: 414px) {
  .filmifeed-movie-gride-agile {
    margin-right: 2%;
    margin-bottom: 4%;
    float: left;
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 384px) {
<<<<<<< HEAD
  .filmifeed-movie-text h6 a {
    font-size: 1.2em;
=======
  .w3l-movie-text h6 a {
    font-size: 1em;
>>>>>>> implement all movies page
  }
  ul.filmifeed-ratings li i,
  .filmifeed-ratings a i {
    font-size: 0.8em;
  }
  .filmifeed-action-icon i {
    font-size: 2em;
  }
}
