.content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* .container {
  max-width: 50em;
  margin: 0 auto;
  text-align: center;
} */

.form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  width: 20em;
}
