.media {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 0;
}

.title,
.text {
  padding: 1em;
  background-color: #463190;
}

.subtitle {
  padding: 1em 0.5em 0.5em 0.5em;
  background-color: #463190;
  background: linear-gradient(#987ef5, #463190);
  color: #fff;
  font-size: 19px;
}

.title > h2,
.sub-title > h3,
.text > p {
  margin: 0;
  color: #fff;
}
